
<div class="container-fluid  text-center">
  <div class="row align-items-center">
    <div class="col-5">
      <p class="texto-uno fw-bold text-wrap">
        Con secure bot,</p>
<p class="texto-dos fw-semibold"> el futuro está en buenas manos.</p>
        <p class="texto-tres">Secure bot es una empresa que se encarga de cuidar tu empresa de una manera nueva aprovechando las tecnologías.  </p>
      <!-- HTML !-->
<button class="button-24" role="button">Vamos</button>

      </div>

    
    <div class=" col-6 ">
      <img src="../../../assets/Iconos/1679029928550.png" width="360"  alt="">
    </div>
  </div>
</div>
<br>
    <br>
<div class="container">
  <div class="row align-items-center">
    <div class="col-4 md-col-12 border-end m-3" style="width: 350px;">
      <div >
        <img src="../../../assets/Iconos/robotica (1).png" alt="">
        <br>
        <div class="card-body">
          <h5 class="card-title">Tecnología</h5>
          <p class="card-text">Creamos con lo último en tecnología, ofreciéndote lo mejor.</p>
        </div>
      </div>
      
    </div>
    <div class="col-4 border-end m-3" style="width: 350px;">
      <div >
        
        <img src="../../../assets/Iconos/laptop.png" alt="">
        <br>
        <div class="card-body">
          <h5 class="card-title">Equipo</h5>
          <p class="card-text">Contamos con un equipo altamente capacitado.</p>
        </div>
      </div>
      
      
    </div>
    <div class="col-4 " style="width: 350px;">
      
      <img src="../../../assets/Iconos/seguridad.png" alt="">
      <br>
      
        
        <div class="card-body">
          <h5 class="card-title">Seguridad</h5>
          <p class="card-text">Pensamos en ti, tu seguridad es nuestra prioridad.</p>
        </div>
      
      
    </div>
   
      
      
      
      <br>
      </div>
      
    
</div>
<br>
<br>
<div class="container-fluid  contenedor-video">
<div class="row align-items-center">
    <div class="col-3">
    
    </div>
    <div class="col-4  h-100">
    <h3 class="text-dark  text-center bold text-wrap fw-bold">SECURE BOT</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vpIC5UGppTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="col-5">
    
</div>
</div>
<br>
<app-footer></app-footer>