            <!-- FRASE Y IMAGEN-->
<div class="container-fluid  text-center">
  <div class="row align-items-center">
    <div class="col-12 col-sm-12  col-md-12 col-lg-6 col-xs-12 ">
            <!-- Frase!-->
      <p class="texto-uno fw-bold text-wrap">
        SecureBot®,</p>
      <p class="texto-dos fw-semibold"> el futuro está en buenas manos.</p>
      <p class="texto-tres">SecureBot es una compañía comprometida con la seguridad y el cuidado de tu empresa, creando productos vanguardistas y novedosos, aprovechando las tecnologías emergentes.</p>
    </div>
            <!-- Imagen! max-width: 100%;
  height: auto;-->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-12">
      <img src="../../../assets/Iconos/formas_3.png"  class="img-fluid"  alt="">
    </div>
  </div>
</div>
<br>
<br>
            <!-- ITEMS-->
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xs-12  border-end  text-center" >
      <div>
        <img class="m-5 text-center" src="../../../assets/Iconos/robotica (1).png" alt="" style="align-items: center;">
        <br>
        <div class="card-body">
          <h5 class="card-title text-center">Tecnología</h5>
          <p class="card-text text-center">Contamos con lo último en tecnología, ofreciéndote lo mejor.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12  col-md-12 col-lg-4 col-xs-12 border-end text-center" >
      <div> 
        <img class="m-5 text-center" src="../../../assets/Iconos/laptop.png" alt="">
        <br>
        <div class="card-body">
          <h5 class="card-title text-center">Equipo</h5>
          <p class="card-text text-center">Contamos con un equipo altamente capacitado.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12  col-md-12 col-lg-4 col-xs-12 border-end  text-center" >
      <img class="m-5 " src="../../../assets/Iconos/seguridad.png" alt="">
      <br>
        <div class="card-body">
          <h5 class="card-title text-center">Seguridad</h5>
          <p class="card-text text-center">Pensamos en ti, tu seguridad es nuestra prioridad.</p>
        </div>
    </div> 
      <br>
  </div>  
</div>
<br>
<br>

<!-- VIDEO -->
<div class="container-fluid contenedor-video text-center">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-6 col-sm-12  col-md-12 col-lg-4 col-xs-12 embed-responsive embed-responsive-16by9">
      <h3 class="text-dark text-center bold text-wrap fw-bold">SECUREBOT</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZprJHzpmsLk?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
      </div>
    
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>