.card {
    width: 380px;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
    
    backdrop-filter: blur(2px);
    border: 1.5px solid #fcfcfc;
    height: auto;
    position: relative;
  }
  .alert {
    width: auto;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
    font-size: 10px;
    backdrop-filter: blur(2px);
    border: 1.5px solid #fcfcfc;
    height: auto;
    position: relative;
  }
  
  .container {
    height: 100vh;
  }
  
  .imagen {
  background: #fff url(../../../../assets/Iconos/formas_3.png)  repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .fondotoast{
    background-color: rgba(255, 95, 95, 0.788);
  }
  