<br>
<div class="container">
  <div class="row">
    
      <div class="row row-cols-sm-auto col-lg-4 col-12 d-flex flex-row align-items-center">
        
        <div>
          <button class="btn btn-dark text-center" type="button"  (click)="regresar()">Regresar</button>
         
          <p class="text-fechas mt-2">De: </p>
          
          <input type="date" (change)="SendDataonChange($event)" />
        </div>
        <div>  
          <p class="text-fechas mt-5" *ngIf="cal == false">Hasta: </p>
          <input *ngIf="cal == false" type="date" (change)="SendDataonChange2($event)" />
        </div>
      </div>  
    <div class="col-4 text-center">
      <h2 class="text-center">Datos de mi carrito</h2>
      
     
  </div>
  <div class="col-4 d-grid gap-2 d-md-flex  justify-content-md-end">
    <div class="row row-cols-sm-auto col-lg-2 col-12 d-flex flex-row align-items-center">
      
      <div class="form-check form-switch custom-switch-lg shadow-none">
          <select class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="seleccion" (change)="getDatos()">
            <option [ngValue]="'Ult0'" selected>Ultrasonico 1</option>
            <option [ngValue]="'Ult1'" >Ultrasonico 2</option>
            <option [ngValue]="'Son0'" >Sonido</option>
            <option [ngValue]="'Tem0'" >Temperatura</option>
            <option [ngValue]="'Hum0'" >Humedad</option>
            <option [ngValue]="'Bat0'" >Bateria 1</option>
            <option [ngValue]="'Bat1'" >Bateria 2</option>
            <option [ngValue]="'Pir0'" >Movimiento 1</option>
            <option [ngValue]="'Pir1'" >Movimiento 2</option>
            <option [ngValue]="'Ifr0'" >Infrarojo 1</option>
            <option [ngValue]="'Ifr1'" >Infrarojo 2</option>
            <option [ngValue]="'Gas0'" >Gas 1</option>
          </select> 
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-sm-auto col-lg-4 col-12 d-flex flex-row align-items-center mt-2">
  <div>
  <p>Hora de inicio:</p>
  <input type="time" [(ngModel)]="start" (change)="filter($event)">
  </div>
  <div>
  <p *ngIf="cal2 == false">Hora de fin:</p>
   <input type="time" *ngIf="cal2 == false" [(ngModel)]="end" (change)="filter2($event)">
  </div>
</div>
   
    <br>
      <div class="row table-responsive mt-2">
        <table class="table table-bordered">
          <thead class="border text-center">
            <th scope="col">ID</th>
            <th scope="col">Clave</th>
            <th scope="col">Tipo</th>
            <th scope="col">Valores</th>
            <th scope="col">Dato</th>
            <th scope="col">Fecha / Hora</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let s of sensor | slice:desde:hasta">
              <th scope="row">{{ s._id }}</th>
              <td>{{ s.clave }}</td>
              <td>{{ s.tipo }}</td>
              <td>{{ s.valores }}</td>
              <td>{{ s.dato }}</td>
              <td>{{ s.fecha }} / {{ s.hora }}</td>
            </tr>
          </tbody>  
          <br>
        </table>
      </div>
      <mat-paginator [length]="sensor.length"
      [pageSize]="pageSize"
      (page)="cambiarPagina($event)"
      [hidePageSize]="true"
      >
      </mat-paginator>  
      <br>
    </div> 