<br>
<div class="container">
    <div class="row ">
        <h2 class="text-center">Datos de mi carrito</h2>
        
          <div class="row row-cols-sm-auto col-lg-8 col-12 d-flex flex-row align-items-center">
            <div>
              <p class="text-fechas">De: </p>
              <input type="date" (change)="SendDataonChange($event)" />
            </div>
            <div>  
              <p class="text-fechas" *ngIf="cal == false">Hasta: </p>
              <input *ngIf="cal == false" type="date" (change)="SendDataonChange2($event)" />
            </div>
          </div>
            
      
      <div class="row row-cols-sm-auto col-lg-2 col-12 d-flex flex-row align-items-center">
      
      </div>
      <div class="row row-cols-sm-auto col-lg-2 col-12 d-flex flex-row align-items-center">
      
        <div class="form-check form-switch custom-switch-lg shadow-none">
            <select class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="seleccion" (change)="getDatos()">
              <option [ngValue]="'ult0'" selected>Ultrasonico 1</option>
              <option [ngValue]="'ult1'" >Ultrasonico 2</option>
              <option [ngValue]="'son0'" >Sonido</option>
              <option [ngValue]="'tem0'" >Temperatura</option>
              <option [ngValue]="'hum0'" >Humedad</option>
              <option [ngValue]="'bat0'" >Bateria 1</option>
              <option [ngValue]="'bat1'" >Bateria 2</option>
              <option [ngValue]="'pir0'" >Movimiento 1</option>
              <option [ngValue]="'pir1'" >Movimiento 2</option>
              <option [ngValue]="'ifr0'" >Infrarojo 1</option>
              <option [ngValue]="'ifr1'" >Infrarojo 2</option>
            </select> 
        </div>

      </div>
      </div>
    <br>
      <div class="row table-responsive mt-2" mdbScrollbar
      style="position: relative;height: 500px">
        <table class="table table-bordered">
          <thead class="border text-center">
            <th scope="col">ID</th>
            <th scope="col">Clave</th>
            <th scope="col">Tipo</th>
            <th scope="col">Valores</th>
            <th scope="col">Dato</th>
            <th scope="col">Fecha / Hora</th>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let s of sensor | slice:desde:hasta">
              <th scope="row">{{ s._id }}</th>
              <td>{{ s.clave }}</td>
              <td>{{ s.tipo }}</td>
              <td>{{ s.valores }}</td>
              <td>{{ s.dato }}</td>
              <td>{{ s.fecha }} / {{ s.hora }}</td>
            </tr>
          </tbody>  
          <br>
        </table>
      </div>
      <mat-paginator [length]="sensor.length"
      [pageSize]="pageSize"
      (page)="cambiarPagina($event)"
      [hidePageSize]="true"
      >
      </mat-paginator>  
      <br>
    </div> 