<br>

<br>
<div class="container">
  <ngb-toast *ngIf="show" [autohide]="true" [delay]="4000" (hidden)="show=false">
    <ng-template ngbToastHeader>
      <div class="me-auto">
        <strong class="mx-1">Ayuda</strong>
      </div>
    </ng-template>
    <p class="text-center">
      Te recordamos que <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
      </svg> es para aceptar
    </p>
    <p class="text-center">
      y <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg> para rechazar las solicitudes.
    </p>
  </ngb-toast>
<div class="row">
<div class="col-4">
  <button type="button" class="btn btn-dark" (click)="regresarVerEmpresas()"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
Regresar
</button>
</div>
<div class="col-4">
  <h2 class="text-center">Solicitudes de empresas</h2>
</div>
<div class="col-4"></div>
</div>

  <div class="row table-responsive mt-5">
    <table class="table table-bordered">
      <thead class="border text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th> 
        <th scope="col">Acciones</th>       
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let e of enterprises | slice:desde:hasta">
          <td class="text-minimo">{{ e.id }}</td>
          <td class="text-min">{{ e.name }} </td>
          <td class="text-min">{{ e.calle }} {{ e.numero }}, {{ e.colonia }}, {{ e.ciudad }}, {{ e.estado }}</td>
          <td class="text-min">{{ e.phone }}</td>
          <td class="text-min">{{ e.email }}</td>
          <td class="button-container">
            <button type="button" class="btn btn-light text-dark border rounded-pill" 
            (click)="acceptEnterprise(e.id)"
            style="--bs-btn-padding-y: .28rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;display: inline-block;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg>
            </button>
            <button type="button" class="btn btn-danger rounded-pill"
            (click)="openModal(e.id)" 
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px; display: inline-block;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
      <mat-paginator [length]="enterprises.length" *ngIf="enterprises.length > 0"
        [pageSize]="pageSize"
        (page)="cambiarPagina($event)"
        [hidePageSize]="true"
        >
      </mat-paginator>              
    </table>
  </div>
</div>