<div class="vh-100 w-100 imagen">

<div class="container">
    <div class="col-12 text-center mt-5">
      <h1>Afiliarme empresa</h1>
    </div>
  
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
          <div class="card-body bg-light">
            <div class="container">
                <label for="form_email">Escribe la Empresa</label>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <button class="btn btn-dark" type="submit">Buscar</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>