<div class="vh-100 w-100 imagen">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3 border border-top-0">
      <p class="m-0 text_tittle text-center">¡Gracias por confiar en nosotros!</p>
        <span class="mobile-text text-center mt-3">¡Estás a un pequeño paso! Para progeter la seguridad de tu cuenta y de nuestra plataforma es necesario la autenticación de dos factores (2FA), por lo cual hemos enviado un correo electrónico a tu bandeja con las instrucciones necesarias para verificar tu cuenta.</span>
          <div class="text-center mt-5"><button class="button-39" (click)="irCodigoTel()" type="submit" >Quiero hacerlo</button></div>
          <p class="mt-5 text-center">¿Te has equivocado de correo? <br><a (click)="correoEquivocado()" class="fw-bold text-danger cursor">Aún puedes cambiarlo</a></p>
        </div>
  </div>
</div>
      