<div class="vh-100 w-100 imagen">
    <div class="d-flex justify-content-center align-items-center container">
      <div class="card py-5 px-3 border border-top-0">
        <p class="m-0 text_tittle">Estas a un pequeño paso!</p>
          <span class="mobile-text">Para progeter la seguridad de tu cuenta, y de nuestra plataforma es necesario la autentificacion de dos pasos, por lo cual iras a la siguiente pantalla donde seguiras las siguientes
            instrucciones.
          </span>
            
            <div class="text-center mt-5"><button class="button-39" (click)="irCodigoTel()" type="submit" >Quiero hacerlo</button>
            </div>
      </div>
    </div>
  </div>
      