.imagen {

    background: #fff url(../../../../../assets/Iconos/lineal3.png)  repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav-item-spaced:hover {
    background-color: #e2e2e2;
    border-right: 2px solid red;
  
  }
  .nav-link {
    color: rgb(0, 0, 0);
  }
  .nav-item.active {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #000;
  }
  
  
  .nav-item-spaced:hover a {
    color: #333;
  }
  
  .nav-item-spaced {
      margin-bottom: 10px; /* ajusta el valor según el espacio deseado */
    }
    
    /* La última lista no debe tener margen inferior */
    .nav-item-spaced:last-child {
      margin-bottom: 0;
    }
    
    ngb-toast {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 9999;
    }
    