<div class="container-fluid">
  <div class="row">
    <div class=" col-12 col-sm-12 col-md-12 col-lg-3 col-xs-12">
      <ul class="nav flex-column">
        <li class="nav-item border-end border-bottom p-3 nav-item-spaced">
          <a class="nav-link btn"  (click)="perfilUsuario()">Perfil</a>
        </li>
        
        <li class="nav-item border-end  border-bottom p-3 nav-item-spaced">
          <a class="nav-link btn" (click)="  empresaUsuario()">Empresa</a>
        </li>
       
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xs-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  
                  <div class="col-1">
                    <br>
                 </div>
                  
                  <div class="col-11">
                    <p class="fw-bold fs-4">{{ user.name }} {{ user.ap_paterno}}  {{ user.ap_materno }}</p>
                    <p *ngIf="user.rol_id == 1">Administrador</p>
                    <p *ngIf="user.rol_id == 2">Dueño de empresa</p>
                    <p *ngIf="user.rol_id == 3">Encargado</p>
                    <p *ngIf="user.rol_id == 4">Empleado</p>
                  </div>   
                  
                                 
                    
                  <div class="col-4 ">
                    <label for="name" class="mobile-text d-block">Nombre</label>
                    <div class="d-flex">
                    <input type="text" class="form-control " [value]="user.name + ' ' + user.ap_paterno + ' ' + user.ap_materno" disabled>
                    
                    <button type="button"  class="btn btn-dark mt-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"  (click)="openNameModal(user.name, user.ap_paterno, user.ap_materno)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </button>
                  </div>
                  </div>
                    
                  <div class="col-2">
                  </div>    

                  <div class="col-5">
                    <form [formGroup]="emailForm">
                      <label for="email" class="mobile-text">Correo electrónico</label>
                      <div class="d-flex">
                      <input type="text" formControlName="email" class="form-control col 3 disabled" [value]="user.email" [(ngModel)]="emailValue" (ngModelChange)="emailButtonEnable()">
                      <button type="button" class="btn btn-dark mt-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="openEmailModal()" [disabled]="!emailChanges || !emailForm.valid">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </button>
                     
                      </div>
                      <div *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.touched || emailForm.get('email')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                        <span class="error-message" *ngIf="emailForm.get('email')?.errors?.['required']">El campo correo electrónico es obligatorio.</span>
                        <span class="error-message" *ngIf="emailForm.get('email')?.errors?.['pattern']">El campo correo electrónico no es válido.</span>
                      </div>
                    </form>
                  </div>
                  <br>

                  <div class="col-4 mt-2">
                    <label for="empresa" class="form-label">Empresa</label>
                    <input type="text" *ngIf="!hasEnterprise" class="form-control col-4 disabled" value="Sin empresa" disabled>
                    <input type="text" *ngIf="hasEnterprise" class="form-control col-4 disabled" [value]="enterprise.name" disabled>
                  </div>

                  <div class="col-2">
                  </div>
                  <div class="col-5 mt-2">
                    <form [formGroup]="phoneForm">
                      <label for="phone_number" class="form-label">Teléfono celular</label>
                      <div class="d-flex">
                      <input type="text" formControlName="phone_number" class="form-control col 3 disabled" [value]="user.phone_number" [(ngModel)]="phoneNumberValue" (ngModelChange)="phoneButtonEnable()" maxlength="10">
                      <button type="button" class="btn btn-dark mt-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="openPhoneModal()" [disabled]="!phoneChanges || !phoneForm.valid">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </button>
                    
                      </div>
                      <div *ngIf="phoneForm.get('phone_number')?.invalid && (phoneForm.get('phone_number')?.touched || phoneForm.get('phone_number')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                        <span class="error-message" *ngIf="phoneForm.get('phone_number')?.errors?.['required']">El campo teléfono celular es obligatorio.</span>
                        <span class="error-message" *ngIf="phoneForm.get('phone_number')?.errors?.['minlength']">El campo teléfono celular debe tener un mínimo de 10 caracteres.<br></span>
                        <span class="error-message" *ngIf="phoneForm.get('phone_number')?.errors?.['pattern']">El campo teléfono celular solo acepta números.</span>
                      </div>
                    </form>
                  </div>
                  <div class="col-6">
                   
                 
                  </div>
                  <br>
                  <div class="col-6 p-3">
                    <button type="button" class="btn btn-dark" (click)="openPasswordModal()" class="btn btn-light border col-12 col-sm-12 col-md-12 col-lg-5 col-xs-12 m-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg> &nbsp;Contraseña</button>
                  </div> 
                </div>
              </div>
            
          </div>
        </div>                            
      </div>
    </div>
</div>

</div>