
<div class="vh-100 w-100 imagen">
    <div class="d-flex justify-content-center container">
      <div class="card py-5 px-3 ">
          <h5 class="m-0 text-center">Crear cuenta</h5>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="mobile-text">Nombre</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="mobile-text">Apellido paterno</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="mobile-text">Apellido materno</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="mobile-text">Teléfono</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="mobile-text">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="mobile-text">Contraseña</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <button class="button-39" (click)="codigoTel()" type="button">Registrarse</button>
          <div class="text-center mt-3">
            <span class="d-block mobile-text">¿Ya tienes cuenta?</span>
            <a class="text-danger cursor" (click)="iniciarSesion()">Iniciar sesión</a></div>
            
      </div>
    </div></div>
    