.arriba {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  }
  ngb-toast {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .button-container {
    white-space: nowrap; /* Evita que los botones se salgan de la línea */
  }
  
  .button-container button {
    display: inline-block; /* Muestra los botones en línea */
    margin-right: 10px; /* Separa los botones con un margen */
  }
  