<br>
<div class="container">
 
  <div class="row">
<div class="col-4">
  <button type="button" class="btn btn-dark" (click)="regresarVerEmpresas()"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
Regresar
</button>
 
</div>

<div class="col-4">
  <h2 class="text-center">Empleados de {{ company }}</h2>
</div>

<div class="col-4">
 
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">

</div>
</div>

  </div>
  
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Empleado:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="filterPost" class="form-control" name="filterPost" tyle="margin-left: 10px;" type="text" [(ngModel)]="filterPost" 
        (keyup)="onSearch( filterPost )"
      />
    </div> 
  </div>
  <br>

  <div class="row table-responsive">
    <div *ngIf="errorMessage" >
      <ngb-toast *ngIf="show" class="arriba" [autohide]="true" [delay]="4000" (hidden)="show=false">
        {{ errorMessage }}
      </ngb-toast>
    </div>
    <table class="table table-bordered">
      <thead class="border text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th> 
        <th scope="col">Rol</th>       
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let e of employees | slice:desde:hasta">
          <th>{{ e. id }}</th>
          <td>{{ e.name }} {{ e.ap_paterno }} {{ e.ap_materno }}</td>
          <td>{{ e.phone_number }}</td>
          <td>{{ e.email }}</td>
          <td>{{ e.rol }}</td>
        </tr>
      </tbody>            
      <mat-paginator [length]="employees.length"
      [pageSize]="pageSize"
      (page)="cambiarPagina($event)"
      [hidePageSize]="true"
      >
    </mat-paginator>
    </table>
  </div>
</div>