<div class="card " style="width: 28rem;" align="center">
  <div *ngIf="errorMessage" class="arriba">
    <ngb-toast *ngIf="show" class="fondotoast" [autohide]="true" [delay]="4000" (hidden)="show=false">
      {{ errorMessage }}
    </ngb-toast>
  </div> 
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="text-start">Recuperar contraseña</h4>  
    <button type="button" class="btn-close shadow-none" (click)="close()"></button>
  </div>
    <div class="card-body"> 
      <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit(recoverPasswordForm.value)">
        <div class="mb-3 text-start">
          <span class="mobile-text mt-2 text-center">Para recuperar tu contraseña por favor introduce tu correo electrónico en el formulario. En este recibirás tu nueva contraseña.</span><br><br>
          <label for="email" class="mobile-text">Correo electrónico</label>
          <input type="text" formControlName="email" class="form-control" placeholder="Ingresa tu correo electrónico" maxlength="40">
          <div *ngIf="recoverPasswordForm.get('email')?.invalid && (recoverPasswordForm.get('email')?.touched || recoverPasswordForm.get('email')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
            <span class="error-message" *ngIf="recoverPasswordForm.get('email')?.errors?.['required']">El campo correo electrónico es obligatorio.</span>
            <span class="error-message" *ngIf="recoverPasswordForm.get('email')?.errors?.['pattern']">El campo correo electrónico no es válido.</span>
          </div>
        </div>
      </form>  
    </div>
    <div class="card-footer text-end text-body-secondary">
      <button type="button" class="btn btn-danger"
        (click)="onSubmit(recoverPasswordForm.value)" [disabled]="!recoverPasswordForm.valid"  
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
        --bs-btn-font-size: .75rem;margin-right: 10px;">
        Recuperar
      </button>
      <button type="button" class="btn btn-dark" 
        (click)="close()"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
        --bs-btn-font-size: .75rem;margin-right: 10px;">
        Cancelar
      </button>       
    </div>
  </div>
  