<div class="vh-100 w-100 imagen">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3 border">
      <h5 class="m-0 text-center">Iniciar sesión</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="mb-3">
          <label for="email" class="mobile-text">Correo electrónico</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Ingresa tu correo electrónico">
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
              <span class="error-message " *ngIf="loginForm.get('email')?.errors?.['required']">El campo correo electrónico es obligatorio.</span>
              <span class="error-message " *ngIf="loginForm.get('email')?.errors?.['pattern']">El campo correo electrónico no es válido.</span>
            </div>
        </div>
        <div class="mb-3">
          <label for="password" class="mobile-text">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Ingresa tu contraseña" maxlength="20">
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1 fs-5" role="alert">
            <span class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">El campo contraseña es obligatorio.</span>
            <span class="error-message" *ngIf="loginForm.get('password')?.errors?.['minlength']">El campo contraseña debe tener un mínimo de 8 caracteres.<br></span>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="button-39"  type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
        </div>
      </form>
      <div class="text-center mt-4">
        <span class="d-block fw-bold mobile-text text-center text-danger cursor" (click)="openModal()">¿Olvidaste tu contraseña?</span>
        <span class="d-block mobile-text mt-4">¿No tienes una cuenta?</span>
        <a class="fw-bold text-danger cursor" (click)="registrarse()">Crea una</a></div>
        <br>
      </div>
      

      <div *ngIf="errorMessage" style="position: fixed; top: 10px; right: 10px;">
        <ngb-toast *ngIf="show" class="fondotoast" [autohide]="true" [delay]="4000" (hidden)="show=false">
          {{ errorMessage }}
        </ngb-toast>
      </div>
    </div>
</div>
