
<div class="vh-100 w-100 imagen">
<div class="d-flex justify-content-center align-items-center container">
  <div class="card py-5 px-3">
      <h5 class="m-0 text-center">Iniciar sesión</h5>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="mobile-text">Correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="mobile-text">Contraseña</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <button class="button-39" role="button">Iniciar sesión</button>

      
      <div class="text-center mt-5">
        <span class="d-block mobile-text">¿No tienes cuenta?</span>
        <a class="fw-bold text-danger cursor" (click)="registrarse()" >Crea una</a></div>
        <br>
  </div>
</div></div>
