<div class="vh-100 w-100 imagen mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div *ngIf="errorMessage">
          <ngb-toast *ngIf="show" class="fondotoast" [autohide]="true" [delay]="4000" (hidden)="show=false">
            {{ errorMessage }}
          </ngb-toast>
        </div>
        <div class="card mt-2 mx-auto p-4 bg-light">
          <div class="card-body bg-light">
            <div class="text-center ">
            <h2>Crear empresa</h2>  
            </div> 
            <div class="container mt-3">
            <form [formGroup]="enterpriseForm" (ngSubmit)="onSubmit(enterpriseForm.value)" id="contact-form" role="form">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Ingresa el nombre de la empresa" maxlength="40">
                    <div *ngIf="enterpriseForm.get('name')?.invalid && (enterpriseForm.get('name')?.touched || enterpriseForm.get('name')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('name')?.errors?.['required']">El campo nombre es obligatorio.</span>
                      <span class="error-message" *ngIf="enterpriseForm.get('name')?.errors?.['minlength']">El campo nombre debe tener un mínimo de 2 caracteres.<br></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Ingresa el correo electrónico de la empresa" maxlength="80">
                    <div *ngIf="enterpriseForm.get('email')?.invalid && (enterpriseForm.get('email')?.touched || enterpriseForm.get('email')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('email')?.errors?.['required']">El campo correo electrónico es obligatorio.</span>
                      <span class="error-message" *ngIf="enterpriseForm.get('email')?.errors?.['pattern']">El campo correo electrónico no es válido.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-7 mt-2">
                  <div class="form-group">
                    <label for="Giro">Giro</label>
                    <input type="text" formControlName="activity" class="form-control" placeholder="Escribe en pocas palabras el giro de la empresa" maxlength="35">
                    <div *ngIf="enterpriseForm.get('activity')?.invalid && (enterpriseForm.get('activity')?.touched || enterpriseForm.get('activity')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('activity')?.errors?.['required']">El campo giro es obligatorio.</span>
                    </div>
                  </div>
                </div>
                <div class="col-5 mt-2">
                  <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="text" formControlName="phone" class="form-control" placeholder="Ingresa el teléfono de la empresa" maxlength="10">   
                    <div *ngIf="enterpriseForm.get('phone')?.invalid && (enterpriseForm.get('phone')?.touched || enterpriseForm.get('phone')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('phone')?.errors?.['required']">El campo teléfono es obligatorio.</span>
                      <span class="error-message" *ngIf="enterpriseForm.get('phone')?.errors?.['minlength']">El campo teléfono debe tener un mínimo de 10 caracteres.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('phone')?.errors?.['pattern']">El campo teléfono solo acepta números.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <label for="calle" class="mt-2"><b>Dirección de la empresa:</b></label>
                <div class="col-7 mt-2">
                  <div class="form-group">
                    <label for="calle">Calle</label>
                    <input type="text" formControlName="calle" class="form-control" placeholder="Ingresa el nombre de la calle" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ\s]+$" maxlength="40">  
                    <div *ngIf="enterpriseForm.get('calle')?.invalid && (enterpriseForm.get('calle')?.touched || enterpriseForm.get('calle')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('calle')?.errors?.['required']">El campo calle es obligatorio.</span>
                      <span class="error-message" *ngIf="enterpriseForm.get('calle')?.errors?.['minlength']">El campo calle debe tener un mínimo de 3 caracteres.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('calle')?.errors?.['pattern']">El campo nombre no acepta números ni caracteres especiales.</span>
                    </div> 
                  </div>
                </div>
                <div class="col-5 mt-2">
                  <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" formControlName="numero" class="form-control" placeholder="Ingresa el número" maxlength="5">
                    <div *ngIf="enterpriseForm.get('numero')?.invalid && (enterpriseForm.get('numero')?.touched || enterpriseForm.get('numero')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('numero')?.errors?.['required']">El campo número es obligatorio.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('numero')?.errors?.['pattern']">El campo número solo acepta números.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-7">
                  <div class="form-group">
                    <label for="colonia">Colonia</label>
                    <input type="text" formControlName="colonia" class="form-control" placeholder="Ingresa el nombre de la colonia" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ\s]+$" maxlength="40">   
                    <div *ngIf="enterpriseForm.get('colonia')?.invalid && (enterpriseForm.get('colonia')?.touched || enterpriseForm.get('colonia')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('colonia')?.errors?.['required']">El campo calle es obligatorio.</span>
                      <span class="error-message" *ngIf="enterpriseForm.get('colonia')?.errors?.['minlength']">El campo calle debe tener un mínimo de 3 caracteres.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('colonia')?.errors?.['pattern']">El campo nombre no acepta números ni caracteres especiales.</span>
                    </div> 
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <label for="cp">Código postal</label>
                    <input type="text" formControlName="cp" class="form-control" placeholder="Ingresa el código postal" maxlength="5">
                    <div *ngIf="enterpriseForm.get('cp')?.invalid && (enterpriseForm.get('cp')?.touched || enterpriseForm.get('cp')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('cp')?.errors?.['required']">El campo número es obligatorio.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('cp')?.errors?.['minlength']">El campo calle debe tener un mínimo de 5 caracteres.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('cp')?.errors?.['pattern']">El campo número solo acepta números.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-7">
                  <div class="form-group">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" formControlName="ciudad" class="form-control" placeholder="Ingresa el nombre de la ciudad" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ\s]+$" maxlength="40">   
                    <div *ngIf="enterpriseForm.get('ciudad')?.invalid && (enterpriseForm.get('ciudad')?.touched || enterpriseForm.get('ciudad')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="enterpriseForm.get('ciudad')?.errors?.['required']">El campo calle es obligatorio.</span>
                      <span class="error-message" *ngIf="enterpriseForm.get('ciudad')?.errors?.['minlength']">El campo calle debe tener un mínimo de 3 caracteres.<br></span>
                      <span class="error-message" *ngIf="enterpriseForm.get('ciudad')?.errors?.['pattern']">El campo nombre no acepta números ni caracteres especiales.</span>
                    </div> 
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-group">
                    <label for="estado">Estado</label>
                    <select formControlName="estado" class="form-select shadow-none">
                      <option value="" selected disabled>Selecciona el estado</option>
                      <option value="Aguascalientes">Aguascalientes</option>
                      <option value="Baja California">Baja California</option>
                      <option value="Baja California Sur">Baja California Sur</option>
                      <option value="Campeche">Campeche</option>
                      <option value="Coahuila">Coahuila</option>
                      <option value="Colima">Colima</option>
                      <option value="Chiapas">Chiapas</option>
                      <option value="Chihuahua">Chihuahua</option>
                      <option value="Ciudad de México">Ciudad de México</option>
                      <option value="Durango">Durango</option>
                      <option value="México">Estado de México</option>
                      <option value="Guanajuato">Guanajuato</option>
                      <option value="Guerrero">Guerrero</option>
                      <option value="Hidalgo">Hidalgo</option>
                      <option value="Jalisco">Jalisco</option>
                      <option value="Michoacán">Michoacán</option>
                      <option value="Morelos">Morelos</option>
                      <option value="Nayarit">Nayarit</option>
                      <option value="Nuevo León">Nuevo León</option>
                      <option value="Oaxaca">Oaxaca</option>
                      <option value="Puebla">Puebla</option>
                      <option value="Querétaro">Querétaro</option>
                      <option value="Quintana Roo">Quintana Roo</option>
                      <option value="San Luis Potosí">San Luis Potosí</option>
                      <option value="Sinaloa">Sinaloa</option>
                      <option value="Sonora">Sonora</option>
                      <option value="Tabasco">Tabasco</option>
                      <option value="Tamaulipas">Tamaulipas</option>
                      <option value="Tlaxcala">Tlaxcala</option>
                      <option value="Veracruz">Veracruz</option>
                      <option value="Yucatán">Yucatán</option>
                      <option value="Zacatecas">Zacatecas</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mt-2">    
                <div class="col-md-12 mt-2 text-center">    
                  <button type="submit" [disabled]="!enterpriseForm.valid" class="btn btn-dark pt-2 btn-block">Crear empresa</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
</div>