.imagen {

    background: #ffffff73 url(../../../../../assets/Iconos/lineal3.png)  repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -1;
}


    
select:focus {
    border-color: rgb(77, 77, 78);
  }

  option:nth-child(1):hover {
    color: rgb(77, 77, 78);
  }