<div class="vh-100 w-100 imagen mt-5">
<div class="container mt-5 ">



<div class="row ">
<div class="col-lg-7 mx-auto">
  <div class="card mt-2 mx-auto p-4 bg-light">
      <div class="card-body bg-light">
        <div class=" text-center ">

            <h2 >Crear Empresa</h2>
                
            
        </div>
 
      <div class = "container mt-3">
        <form id="contact-form" role="form">
      
          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label for="form_name">Nombre de la empresa</label>
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="Escribe el nombre de la empresa" required="required" data-error="Firstname is required.">
                      
                  </div>
              </div>
              <div class="col-12 mt-2">
                  <div class="form-group">
                      <label for="Email">Email</label>
                      <input id="Email" type="email" name="Email" class="form-control" placeholder="Escribe el correo electronico" required="required" >
                                                      </div>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <label for="Giro">Giro</label>
                <input id="Giro" type="text" name="Giro" class="form-control" placeholder="Escribe el giro de la empresa" required="required" >
              </div>
            </div>
            <div class="col-12 mt-2">
                <div class="form-group">
                    <label for="Telefono">Telefono</label>
                    <input id="Telefono" type="text" name="Telefono" class="form-control" placeholder="Escribe el telefono" required="required" >   
                </div>
            </div>
            
        </div>
          <div class="row mt-2">
              <div class="col-6">
                  <div class="form-group">
                      <label for="Calle">Calle</label>
                      <input id="Calle" type="text" name="Calle" class="form-control" placeholder="Escribe el nombre de la calle" required="required" data-error="Valid email is required.">   
                  </div>
              </div>
              <div class="col-6">
              <div class="form-group">
                <label for="numero">Numero de residencia</label>
                <input id="numero" type="number" name="numero" class="form-control" placeholder="Escribe el numero de residencia" required="required" >
              </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="colonia">Colonia</label>
                    <input id="colonia" type="text" name="colonia" class="form-control" placeholder="Escribe el nombre de la colonia" required="required" >   
                </div>
            </div>
            <div class="col-6">
            <div class="form-group">
              <label for="cp">CP</label>
              <input id="cp" type="number" name="cp" class="form-control" placeholder="Escribe el codigo postal" required="required" >
            </div>
          </div>
      </div>
          
      <div class="row mt-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Ciudad">Ciudad</label>
                <input id="Ciudad" type="text" name="Ciudad" class="form-control" placeholder="Escribe el nombre de la ciudad" required="required" >   
            </div>
        </div>
        <div class="col-6">
        <div class="form-group">
          <label for="Estado">Estado</label>
          <select class="form-select shadow-none" aria-label="Default select example">
            <option selected>Selecciona el estado</option>
            <option value="1">Coahuila</option>
            <option value="2">Nuevo Leon</option>
            <option value="3">Veracruz</option>
          </select>
        </div>
      </div>
  </div>

      
      
          <div class="row mt-2">    
          <div class="col-md-12 mt-2 text-center">    
            <input type="submit" class="btn btn-dark  pt-2 btn-block " value="Crear Empresa" > 
          </div>
    
          </div>


  
   </form>
  </div>
      </div>


</div>
  <!-- /.8 -->

</div>
<!-- /.row-->

</div>
</div>

</div>