.nav-link {
    color: rgb(0, 0, 0);
  }
  

  .card {
    height: 250px;
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .card-description h2 {
    font-size: 22px;
  }
  .card-description p {
    font-size: 15px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }
  .features img {
    width: 100px;
  }
  .features h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .features p {
    font-size: 15px;
    font-weight: lighter;
  }
  .nav-item-spaced:hover {
    background-color: #e2e2e2;
    border-right: 2px solid red;
  
  }
  .nav-link {
    color: rgb(0, 0, 0);
  }
  .nav-item.active {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #000;
  }
  
  
  .nav-item-spaced:hover a {
    color: #333;
  }
  
  .nav-item-spaced {
      margin-bottom: 10px; /* ajusta el valor según el espacio deseado */
    }
    
    /* La última lista no debe tener margen inferior */
    .nav-item-spaced:last-child {
      margin-bottom: 0;
    }
    

