<!--SI NO TIENE EMPRESA MOSTRAMOS ESTO-->
<div class="container mt-4" *ngIf="!hasEnterprise">

  <p class="fs-4 text-center"></p><p class="fw-medium fs-4 text-center">Parece ser que aún no perteneces a ninguna empresa. Para empezar a monitorear tus carritos necesitas ser parte de alguna. ¿Qué quieres hacer?</p>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Crear una empresa</h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-workspace text-center" viewBox="0 0 16 16">
            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
          </svg>
          <p class="card-text mt-3 fs-6">
              Si la empresa a la que perteneces aún no hace uso de nuestros servicios, deberás llenar una solicitud con los datos de tu empresa que posteriormente será evaluada por un administrador, para ver si cumple con los requisitos para ser dada de alta. Te enviaremos un correo en cuanto se revise tu solicitud.
          </p>
          <button type="button" (click)="crearEmpresa()" class="btn btn-danger">Quiero crearla</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title text-center">Afiliarse a una empresa</h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
            <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"/>
          </svg>
          <p class="card-text mt-3 fs-6">Si la empresa a la que perteneces ya hace uso de nuestros servicios entonces, afíliate a ella. Deberás seleccionarla de entre todas las empresas y esperar a que el dueño de esta te acepte para pertenecer a la misma. Te enviaremos un correo en cuanto se revise tu solicitud.</p>
          <button type="button" (click)="afiliarEmpresa()" class="btn btn-danger">Quiero afiliarme</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SI SU EMPRESA ESTÁ EN PROCESO MOSTRAMOS ESTO-->
<div *ngIf="isInProcess" class="text-center">
  <p class="texto_proceso text-center mt-5">¡Felicidades! Tu solicitud ya está en proceso. <br> Si elegiste crear una empresa deberás esperar a que un administrador valide los datos de la misma. <br> En cambio, si elegiste afiliarte a una deberás esperar a que el dueño de esta revise tu solicitud. <br> Recuerda que en ambos casos, te enviaremos un correo con la respuesta a tu solicitud. </p>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger slow-spin" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!--SI TIENE EMPRESA Y ES EL CEO-->
<div class="container-fluid " *ngIf="hasEnterprise && !isInProcess">
  <div class="row">
    <div class=" col-12 col-sm-12 col-md-12 col-lg-3 col-xs-12">
      <ul class="nav flex-column">
      
        <li class="nav-item border-end  border-bottom p-3 nav-item-spaced" *ngIf="iAdmin || iOwner">
          <a class="nav-link btn" (click)="verEmpleados()" >Empleados</a>
        </li>
        <li class="nav-item border-end  border-bottom p-3 nav-item-spaced">
          <a class="nav-link btn" (click)="  empresaOpciones()">Empresa</a>
        </li>
        <li class="nav-item border-end  border-bottom p-3 nav-item-spaced">
          <a class="nav-link btn" (click)="  carrosEmpresa()">Carritos</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xs-12">
      <div class="container">
        <div *ngIf="errorMessage" class="arriba">
          <ngb-toast *ngIf="show" class="fondotoast" [autohide]="true" [delay]="4000" (hidden)="show=false">
            {{ errorMessage }}
          </ngb-toast>
        </div> 
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <form class="row" [formGroup]="updateEnterpriseForm" (ngSubmit)="updateEnterprise(updateEnterpriseForm.value)">
                  <div class="col-1">
                    <br>
                   </div>
                  <div class="col-11">
                    <p class="fw-bold fs-4"> {{ enterprise.name }} </p>
                    <p> {{enterprise.activity }}</p>
                  </div>
                  <div class="col-4" *ngIf="iAdmin || iOwner">
                    <label for="name" class="mobile-text">Nombre</label>
                    <input type="text" formControlName="name" class="form-control" [value]="enterprise.name" [(ngModel)]="nameDefaultValue" (ngModelChange)="onFormChanges()" maxlength="40">
                    <div *ngIf="updateEnterpriseForm.get('name')?.invalid && (updateEnterpriseForm.get('name')?.touched || updateEnterpriseForm.get('name')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('name')?.errors?.['required']">El campo nombre es obligatorio.</span>
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('name')?.errors?.['minlength']">El campo nombre debe tener un mínimo de 2 caracteres.<br></span>
                    </div>                                  
                  </div>
                  <div class="col-4" *ngIf="!iAdmin && !iOwner">
                    <input type="text" disabled class="form-control" [value]="enterprise.name" maxlength="40">
                  </div>
                  <div class="col-2"></div> 
                  <div class="col-5" *ngIf="iAdmin || iOwner">
                    <label for="email" class="mobile-text">Correo electrónico</label>
                    <input type="text" formControlName="email" class="form-control col 3 disabled" [value]="enterprise.email" [(ngModel)]="emailDefaultValue" (ngModelChange)="onFormChanges()" maxlength="80">
                    <div *ngIf="updateEnterpriseForm.get('email')?.invalid && (updateEnterpriseForm.get('email')?.touched || updateEnterpriseForm.get('email')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('email')?.errors?.['required']">El campo correo electrónico es obligatorio.</span>
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('email')?.errors?.['pattern']">El campo correo electrónico no es válido.</span>
                    </div>
                  </div>
                  <div class="col-5" *ngIf="!iAdmin && !iOwner">
                    <input type="text" disabled class="form-control" [value]="enterprise.email" maxlength="80">
                  </div>
                  <br>
                  <div class="col-4 mt-3" *ngIf="iAdmin || iOwner">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="text" formControlName="phone" class="form-control col 3 disabled" [value]="enterprise.phone" [(ngModel)]="phoneDefaultValue" (ngModelChange)="onFormChanges()" maxlength="10">
                    <div *ngIf="updateEnterpriseForm.get('phone')?.invalid && (updateEnterpriseForm.get('phone')?.touched || updateEnterpriseForm.get('phone')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('phone')?.errors?.['required']">El campo teléfono es obligatorio.</span>
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('phone')?.errors?.['minlength']">El campo teléfono debe tener un mínimo de 10 caracteres.<br></span>
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('phone')?.errors?.['pattern']">El campo teléfono solo acepta números.</span>
                    </div>
                  </div>
                  <div class="col-4 mt-3" *ngIf="!iAdmin && !iOwner">
                    <input type="text" disabled class="form-control" [value]="enterprise.phone" maxlength="10">
                  </div>
                  <div class="col-2"></div>
                  <div class="col-5 mt-3">
                    <label for="address" class="form-label">Dirección</label>
                    <div class="d-flex">    
                      <input type="text" class="form-control col-4 disabled" [value]="enterprise.calle + ' ' + enterprise.numero + ', ' + enterprise.colonia + ' ' + enterprise.cp" disabled>
                      <button type="button"  class="btn btn-dark mt-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="openModal()" *ngIf="iAdmin || iOwner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="col-4 mt-3" *ngIf="iAdmin || iOwner">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input type="text" formControlName="ciudad" class="form-control col-4 disabled" [value]="enterprise.ciudad" [(ngModel)]="ciudadDefaultValue" (ngModelChange)="onFormChanges()" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ\s]+$" maxlength="40">
                    <div *ngIf="updateEnterpriseForm.get('ciudad')?.invalid && (updateEnterpriseForm.get('ciudad')?.touched || updateEnterpriseForm.get('ciudad')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('ciudad')?.errors?.['required']">El campo calle es obligatorio.</span>
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('ciudad')?.errors?.['minlength']">El campo calle debe tener un mínimo de 3 caracteres.<br></span>
                      <span class="error-message" *ngIf="updateEnterpriseForm.get('ciudad')?.errors?.['pattern']">El campo nombre no acepta números ni caracteres especiales.</span>
                    </div> 
                  </div>
                  <div class="col-4 mt-3" *ngIf="!iAdmin && !iOwner">
                    <input type="text" disabled class="form-control" [value]="enterprise.ciudad" maxlength="40">
                  </div>
                  <div class="col-2"></div>
                  <div class="col-5 mt-3" *ngIf="iAdmin || iOwner">
                    <label for="estado" class="form-label">Estado</label>
                    <select formControlName="estado" class="form-select shadow-none" [(ngModel)]="estadoDefaultValue" (ngModelChange)="onFormChanges()">
                      <option [value]="enterprise.estado" selected disabled> {{ enterprise.estado }}</option>
                      <option value="Aguascalientes">Aguascalientes</option>
                      <option value="Baja California">Baja California</option>
                      <option value="Baja California Sur">Baja California Sur</option>
                      <option value="Campeche">Campeche</option>
                      <option value="Coahuila">Coahuila</option>
                      <option value="Colima">Colima</option>
                      <option value="Chiapas">Chiapas</option>
                      <option value="Chihuahua">Chihuahua</option>
                      <option value="Ciudad de México">Ciudad de México</option>
                      <option value="Durango">Durango</option>
                      <option value="México">Estado de México</option>
                      <option value="Guanajuato">Guanajuato</option>
                      <option value="Guerrero">Guerrero</option>
                      <option value="Hidalgo">Hidalgo</option>
                      <option value="Jalisco">Jalisco</option>
                      <option value="Michoacán">Michoacán</option>
                      <option value="Morelos">Morelos</option>
                      <option value="Nayarit">Nayarit</option>
                      <option value="Nuevo León">Nuevo León</option>
                      <option value="Oaxaca">Oaxaca</option>
                      <option value="Puebla">Puebla</option>
                      <option value="Querétaro">Querétaro</option>
                      <option value="Quintana Roo">Quintana Roo</option>
                      <option value="San Luis Potosí">San Luis Potosí</option>
                      <option value="Sinaloa">Sinaloa</option>
                      <option value="Sonora">Sonora</option>
                      <option value="Tabasco">Tabasco</option>
                      <option value="Tamaulipas">Tamaulipas</option>
                      <option value="Tlaxcala">Tlaxcala</option>
                      <option value="Veracruz">Veracruz</option>
                      <option value="Yucatán">Yucatán</option>
                      <option value="Zacatecas">Zacatecas</option>
                    </select>
                  </div>
                  <div class="col-5 mt-3" *ngIf="!iAdmin && !iOwner">
                    <input type="text" disabled class="form-control" [value]="enterprise.estado" maxlength="40">
                  </div>
                  <div class="col-4"></div>
                  <div class="col-4" *ngIf="iAdmin || iOwner">
                    <button type="submit" class="btn btn-dark border  col-12 col-sm-12 col-md-12 col-lg-5 col-xs-12 m-1" [disabled]="!isFormDirty && !updateEnterpriseForm.valid">Guardar</button>
                  </div>
                  <div class="col-4"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>                          
        </div>
      </div>
    </div>