<br>
<br>


<div class="container">
    <div class="row table-responsive">

        <table class="table table-bordered   " >
            <thead class="border">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Rol</th> 
                <th scope="col">Status</th>
                <th scope="col">Acciones</th>       
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Pablo Vazquez Alvarado</td>
                    <td>pabloalvaradovazquez10@gmail.com</td>
                    <td>8781878188</td>
                    <td>Administrador</td>
                    <td>Activo</td>
                    <td>
                        <button type="button" class="btn btn-light text-dark border" 
                        data-bs-toggle="modal" data-bs-target="#cambiarRol"  
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .75rem;margin-right: 10px;">
                        Cambiar Rol
                        </button>
                        <button type="button" class="btn btn-dark " data-bs-toggle="modal" 
                        data-bs-target="#cambiarStatus"  
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .75rem;margin-right: 10px;">
                        Cambiar Status
                        </button>
                        <button type="button" class="btn btn-danger"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .75rem;margin-right: 10px;">
                        Eliminar
                        </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Andrea Alva Alvarado</td>
                    <td>andy230@gmail.com</td>
                    <td>8781878188</td>
                    <td>Moderado</td>
                    <td>Inactivo</td>
                    <td>
                        <button type="button" class="btn btn-light text-dark"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .75rem;margin-right: 10px;">
                        Cambiar Rol
                        </button>
                        <button type="button" class="btn btn-dark "
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .75rem;margin-right: 10px;">
                        Cambiar Status
                        </button>
                        <button type="button" class="btn btn-danger"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .75rem;margin-right: 10px;">
                        Eliminar
                        </button>
                    </td>
                  </tr>
              </tbody>            
          </table>

        </div>

      </div>
  <!-- Cambiar Rol-->
  <div class="modal fade" id="cambiarRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Rol:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Nombre del Usuario:</p>
            <p>Pablo Vazquez Alvarado</p>
            <p>Roles:</p>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Administrador</option>
                <option value="2">Moderador</option>
                <option value="3">Invitado</option>
              </select>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-light 
          text-dark border "
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Salir
            </button>
          <button type="button" class="btn btn-dark "style="--bs-btn-padding-y: .25rem;
           --bs-btn-padding-x: .5rem;--bs-btn-font-size: .75rem;margin-right: 10px;">
                        Cambiar Rol
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Cambiar Status-->
  <div class="modal fade" id="cambiarStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Status:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Nombre del Usuario:</p>
            <p>Pablo Vazquez Alvarado</p>
            <p>Status:</p>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
              </select>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-light 
          text-dark border "
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Salir
            </button>
          <button type="button" class="btn btn-dark "style="--bs-btn-padding-y: .25rem;
           --bs-btn-padding-x: .5rem;--bs-btn-font-size: .75rem;margin-right: 10px;">
                        Cambiar Status
          </button>
        </div>
      </div>
    </div>
  </div>
    
