<br><div class="container">
<h2 class="text-center">Administrar usuarios</h2>
<div class="row mt-2">
  <div class="col-lg-4 col-12  mt-2 text-center">
    <div class="d-flex d-md-flex justify-content-md-center align-items-center">
  <label for="table-filtering-search" class="col-1 col-sm-auto col-form-label " >Usuario:</label>
  <div class="col-3 col-sm-auto">
    <form class="d-flex" role="search" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" >
      <input class="form-control me-2" type="text" name="user" formControlName="user" class="form-control" placeholder="" aria-label="user">
      <button class="btn btn-dark" type="submit">Buscar</button>
    </form>  
  </div>
    </div>
</div>
<div class="col-lg-4 col-12 mt-2 text-center">
  <div class="btn-group "  role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light border" style="margin-left: 30px;">Admin</button>
    <button type="button" class="btn btn-light border">Dueño</button>
    <button type="button" class="btn btn-light border">Encargado</button>
    <button type="button" class="btn btn-light border">Empleado</button>
  </div>
</div>
<div class="col-lg-4 col-12 mt-2 ">
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <div class="form-check form-switch custom-switch-lg shadow-none">
    <input class="form-check-input shadow-none" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label "style="margin-left: 20px;font-size:19px" for="flexSwitchCheckChecked">Activos</label>
  </div>
</div>
</div>
</div>
<br>

  <div class="row table-responsive mt-2">
    <table class="table table-bordered">
      <thead class="border text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Rol</th> 
        <th scope="col">Estatus</th>
        <th scope="col">Acciones</th>       
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let u of users  | filter:filterPost :desde :pageSize | slice:desde:hasta">
          <th scope="row">{{ u.id }}</th>
          <td>{{ u.name }} {{ u.ap_paterno }} {{ u.ap_materno }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phone_number }}</td>
          <td>{{ u.rol }}</td>
          <td>
            <span *ngIf="u.active == 1">Activo</span>
            <span *ngIf="u.active == 0">Inactivo</span>
          </td>
          <td>
            <button type="button" class="btn btn-light text-dark border" 
            (click)="openRoleModal(u.id)" 
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Cambiar rol
            </button>
            <button type="button" class="btn btn-dark" 
            (click)="openStatusModal(u.id)" 
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Cambiar estatus
            </button>
         </td>
        </tr>
      </tbody>  
      <mat-paginator [length]="users.length"
      [pageSize]="pageSize"
      (page)="cambiarPagina($event)"
      [hidePageSize]="true">
    </mat-paginator>            
    </table>
  </div>
</div>