<div class="card " style="width: 28rem;" align="center">
    <div class="card-header">
    <h4>Cambiar Rol
    </h4>
    </div>
    <div class="card-body">
        
            <div class="form-group text-start">
                <label class="">Roles</label>
                <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                    <option value="" selected disabled>Selecciona el rol</option>
                    <option >Administrador </option>
                    <option >Moderador </option>
                    <option >Owner </option>
                    <option >Other</option>
                </select>
                
            
        </div>
    </div>
    <div class="card-footer text-end text-body-secondary">
        <button type="button" class="btn btn-danger"  
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Cambiar Rol
            </button>
            <button type="button" class="btn btn-dark"  
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Cancelar
            </button>
    </div>
  </div>
