<div class="card rounded rounded-2" align="center">
    <div *ngIf="errorMessage" class="arriba">
        <ngb-toast *ngIf="show" class="fondotoast" [autohide]="true" [delay]="4000" (hidden)="show=false">
          {{ errorMessage }}
        </ngb-toast>
      </div> 
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="text-start">Cambiar rol</h4>  
        <button type="button" class="btn-close shadow-none" (click)="close()"></button>
      </div>
    
    <div class="card-body">
        <div class="form-group text-start">
            <form [formGroup]="roleForm" (ngSubmit)="onSubmit(roleForm.value)">
                <label for="rol">Roles</label>
                <select formControlName="rol" class="form-control">
                    <option value="" selected disabled>Selecciona el rol que deseas asignar</option>
                    <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.name }}</option>
                </select>
                <div *ngIf="roleForm.get('rol')?.invalid && (roleForm.get('rol')?.touched || roleForm.get('rol')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
                    <span class="error-message text-danger" *ngIf="roleForm.get('rol')?.errors?.['required']">El campo rol es obligatorio.</span>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer text-end text-body-secondary">
        <button type="submit" class="btn btn-danger"  
            (click)="onSubmit(roleForm.value)" [disabled]="!roleForm.valid"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Cambiar rol
        </button>
        <button type="button" class="btn btn-dark"  
            (click)="close()"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;margin-right: 10px;">
            Cancelar
        </button>
    </div>
</div>