<div class="card " style="width: 28rem;" align="center">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4>Editar carro</h4>
    <button type="button" class="btn-close shadow-none" (click)="close()"></button>
  </div>
  <div class="card-body"> 
    <form [formGroup]="updateCarForm" (ngSubmit)="onSubmit(updateCarForm.value)">
      <div class="mb-3 text-start">
        <label for="nombre" class="mobile-text">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" placeholder="Ingresa el nuevo nombre" maxlength="40">
        <div *ngIf="updateCarForm.get('nombre')?.invalid && (updateCarForm.get('nombre')?.touched || updateCarForm.get('nombre')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
          <span class="error-message" *ngIf="updateCarForm.get('nombre')?.errors?.['required']">El campo nombre es obligatorio.</span>
        </div>
      </div>
      <div class="mb-3 text-start">
        <label for="descripcion" class="mobile-text">Descripción</label>              
        <textarea type="text" formControlName="descripcion" class="form-control" placeholder="Ingresa la nueva descrición del carrito" maxlength="250" rows="5"></textarea>    
        <div *ngIf="updateCarForm.get('descripcion')?.invalid && (updateCarForm.get('descripcion')?.touched || updateCarForm.get('descripcion')?.dirty)" class="alert border text-danger border-bottom border-danger mt-1" role="alert">
          <span class="error-message" *ngIf="updateCarForm.get('descripcion')?.errors?.['required']">El campo descripción es obligatorio.</span>
        </div>
      </div> 
    </form>
  </div>
  <div class="card-footer text-end text-body-secondary">
    <button type="button" class="btn btn-danger"
      (click)="onSubmit(updateCarForm.value)"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
      --bs-btn-font-size: .75rem;margin-right: 10px;">
      Guardar
    </button>
    <button type="button" class="btn btn-dark"  
      (click)="close()"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
      --bs-btn-font-size: .75rem;margin-right: 10px;">
      Cancelar
    </button>
  </div>
</div>
  