.nav-item-spaced:hover {
  background-color: #e2e2e2;
  border-right: 2px solid red;

}
.nav-link {
  color: rgb(0, 0, 0);
}
.nav-item.active {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #000;
}


.nav-item-spaced:hover a {
  color: #333;
}

.nav-item-spaced {
    margin-bottom: 10px; /* ajusta el valor según el espacio deseado */
  }
  
  /* La última lista no debe tener margen inferior */
  .nav-item-spaced:last-child {
    margin-bottom: 0;
  }
  
  .mobile-text {
    color: #000000b8;
    font-size: 15px;
    
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
  }
  
  .form-control {
    margin-right: 12px;
    
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    box-shadow: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  