<br>

<h2 class="text-center">Empresas</h2>
<br>
<div class="container">
  <div class="row table-responsive">
    <table class="table table-bordered">
      <thead class="border text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th> 
        
        <th scope="col">Acciones</th>       
      </thead>
      <tbody class="text-center">
        <tr >
          <th>1</th>
          <td>Club Santos</td>
          <td>Torreon, Coah.</td>
          <td>87872827</td>
          <td>clubsantos@gmail.com</td>
            <td>
                <button type="button" (click)="empleadosEmpresa()" class="btn btn-light text-dark border rounded-pill" 
                
                style="--bs-btn-padding-y: .28rem; --bs-btn-padding-x: .5rem; 
                --bs-btn-font-size: .75rem;margin-right: 10px;">
               Ver Empleados
                </button>
                <button type="button" class="btn btn-danger rounded-pill" 
                
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                --bs-btn-font-size: .75rem;margin-right: 10px;">
                Inahibilitar
                </button>
        </tr>
      </tbody>            
    </table>
  </div>
</div>