<br>
<h2 class="text-center">Empresas</h2>
<br>
<div class="container">
  <div class="row table-responsive">
    <table class="table table-bordered">
      <thead class="border text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th> 
        <th scope="col">Acciones</th>       
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let e of enterprises | slice:desde:hasta">
          <th class="text-minimo">{{ e.id }}</th>
          <td >{{ e.name }} </td>
          <td class="text-min">{{ e.calle }} {{ e.numero }}, {{ e.colonia }}, {{ e.ciudad }}, {{ e.estado }}</td>
          <td class="text-min">{{ e.phone }}</td>
          <td class="text-min">{{ e.email }}</td>
          <td>
            <button type="button" (click)="empleadosEmpresa()" class="btn btn-light text-dark border rounded-pill" 
              style="--bs-btn-padding-y: .28rem; --bs-btn-padding-x: .5rem; 
              --bs-btn-font-size: .75rem;margin-right: 10px;">
              Ver empleados
            </button>
            <button type="button" class="btn btn-danger rounded-pill"  
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
              --bs-btn-font-size: .75rem;margin-right: 10px;">
              Deshabilitar
            </button>
        </tr>
      </tbody>            
      <mat-paginator [length]="enterprises.length" *ngIf="enterprises.length > 0"
      [pageSize]="pageSize"
      (page)="cambiarPagina($event)"
      [hidePageSize]="true"
      >
    </mat-paginator>  
    </table>
  </div>
</div>