.nav-link {
  color: rgb(0, 0, 0);
}

.nav-item-spaced:hover {
    background-color: #e2e2e2;
    border-right: 2px solid red;

  }
  .nav-item-spaced:hover a {
    color: #333;
  }
  
 
  .texto-tres{
    font-size: 30px;
    font-family:  'Segoe UI', Roboto;
    margin-bottom: 10px;
  }