<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xs-12">
            <ul class="nav flex-column">
                <li class="nav-item border-end border-bottom p-3 nav-item-spaced">
                    <a class="nav-link btn" aria-current="page" (click)="perfilUsuario()">Perfil</a>
                </li>  
                <li class="nav-item border-end  border-bottom p-3 nav-item-spaced">
                    <a  class="nav-link btn" (click)="empresaUsuario()">Empresa</a>
                </li>   
            </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" *ngIf="!hasEnterprise">
                                    <div class="col-12 mt-4">    
                                        <p class="text-center fs-5 fw-normal lh-sm">Parece ser que aún no tienes una empresa asignada. <br>
                                            Visita la sección <a href="mi-empresa" class="text-reset">Mi empresa</a> para crear o afiliarte a una.<br>Si ya lo hiciste, espera a que tu solicitud sea revisada.</p> 
                                            
                                    </div>
                                    <br>
                                    <br>
                                    
                                </div>

                                <div class="row" *ngIf="hasEnterprise">
                                    <div class="col">
                                        <br>
                                    </div>
                                    <div class="col-11">
                                      <p class="fw-bold fs-4"> {{ enterprise.name }} </p>
                                      <p> {{enterprise.activity }}</p>
                                    </div>
                                    <div class="col-4">
                                        <label for="name" class="mobile-text">Nombre</label>
                                        <input type="text" class="form-control" [value]="enterprise.name" disabled>                                      
                                    </div>
                                    <div class="col-2"></div> 
                                    <div class="col-5">
                                        <label for="email" class="mobile-text">Correo electrónico</label>
                                        <input type="text" class="form-control col 3 disabled" [value]="enterprise.email" disabled>
                                    </div>
                                    <br>
                                    <div class="col-4 mt-3">
                                        <label for="phone" class="form-label">Teléfono</label>
                                        <input type="text" class="form-control col 3 disabled" [value]="enterprise.phone" disabled>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-5 mt-3">
                                        <label for="address" class="form-label">Dirrección</label>
                                        <input type="text" class="form-control col-4 disabled" [value]="enterprise.calle + ' ' + enterprise.numero + ', ' + enterprise.colonia + ' ' + enterprise.cp" disabled>
                                    </div>
                                    <div class="col-4 mt-3">
                                        <label for="ciudad" class="form-label">Ciudad</label>
                                        <input type="text" class="form-control col-4 disabled" [value]="enterprise.ciudad" disabled>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-5 mt-3">
                                        <label for="estado" class="form-label">Estado</label>
                                        <input type="text" class="form-control col 3 disabled" [value]="enterprise.estado" disabled>
                                    </div>
                                    <div class="col-4"></div>
                                    <div class="col-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
</div>